<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>126380695721-nfpej4j0eqgnn0ojk9suvj5mv4i0e7qa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5teB741zzCh9Hie3ixpWs3ctsApyGnkw</string>
	<key>GCM_SENDER_ID</key>
	<string>126380695721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rarekiwisoftware.mimoza</string>
	<key>PROJECT_ID</key>
	<string>mimozaapp-1587f</string>
	<key>STORAGE_BUCKET</key>
	<string>mimozaapp-1587f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126380695721:ios:ecfabc67f0f993f197c9b8</string>
</dict>
</plist>